body {
    @font-face {
        font-family: "CabinetGrotesk-Variable";
        src: url(../assest/font/CabinetGrotesk-Variable.ttf) format(opentype);
    }
    font-family: "CabinetGrotesk-Variable";
}

nav {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: black;
    position: relative;
    .nav_img {
        img {
            background-color: white;
            margin-top: 10px;
        }

        :hover {
            cursor: pointer;
        }
    }
    .nav_icon {
        position: absolute;
        top: 25px;
        right: 50px;
        i {
            color: rgb(255, 255, 255);
            z-index: 5;
            font-size: 40px;

            display: none;
        }
        @media screen and (max-width: 500px) {
            i {
                display: block;
            }
        }
    }
}

.nav_left {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    a {
        color: white;
        display: flex;
        align-items: center;
        font-size: 18px;
        text-decoration: none;
        font-family: "CabinetGrotesk-Variable";
        &:hover {
            color: #f78225;
        }
    }

    @media screen and (max-width: 500px) {
        .nav_left {
            background-color: black;
            transform: translateX(-500px);
        }
    }
}

main {
    #menu {
        width: 100%;
        height: 500px;
        #gif {
            display: flex;
            justify-content: center;
        }

        #left {
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            p {
                font-size: 30px;
                font-weight: 700;
                line-height: 37px;
                text-align: left;
            }
        }

        .icon {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 15px 0;

            :hover {
                cursor: pointer;
            }
        }

        #right {
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            .right_text {
                width: 100%;
                h2 {
                    font-size: 30px;
                    font-weight: 700;
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                }
            }
        }
        @media screen and (max-width: 500px) {
            #right {
                display: none;
            }
            #left {
                display: none;
            }
        }
    }
    .img_item {
        img {
            width: 100%;
            gap: 15px;
            padding: 15px 0;

            :hover {
                cursor: pointer;
            }
        }

        @media only screen and (max-width: 500px) {
            display: none;
        }

        .relative {
            position: relative;
            width: 100%;
            
            cursor: pointer;
            &:hover{
                .hover{
                    opacity: 1;
                }
            }
            img{
                display: block;
                width: 100%;
                height: auto;

            }

            .hover{
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                transition: .3s ease-in-out;
                background-color: #f78225;
                opacity: 0;
                
            }

            .rabbit{
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                font-size: 50px;
                text-decoration: none;
                
            }
        }

    }
}

footer {
    width: 100%;
    height: auto;
    background-color: black;

    .nav_img {
        img {
            background-color: white;
            margin-top: 10px;
            cursor: pointer;
        }
    }

    #mail {
        p {
            font-size: 18px;
            font-weight: 500;
            color: white;

            cursor: pointer;
        }
        .monkey {
            font-size: 18px;
            font-weight: 500;
            color: white;
            padding: 15px 0;
        }
    }

    #end {
        .end {
            p {
                font-size: 18px;
                font-weight: 500;
                color: white;
                cursor: pointer;
            }
        }
        .icon {
            background-color: white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: white;
            img {
                padding: 15px 0;
                color: white;
            }
            cursor: pointer;
        }
    }
}

// cars css

#back {
    display: flex;
    align-items: center;
    img {
        padding: 15px;
    }
    span {
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }
}

main {
    #rabbit {
        h2 {
            font-size: 40px;
            font-weight: 700;
        }
        p {
            line-height: 1.8;
            font-size: 20px;
            font-weight: 400;
        }
    }

    .img {
        img {
            width: 100%;
            padding: 15px 0;
        }
    }
}

// contact

main {
    #are_you {
        .are_you {
            h1 {
                font-size: 60px;
                font-weight: 700;
            }
            h2 {
                font-size: 30px;
                font-weight: 700;
            }
            p {
                font-size: 20px;
                font-weight: 400;
                padding: 14px 0;
            }
        }
    }

    #more_than {
        h3 {
            font-size: 30px;
            font-weight: 700;
            padding: 20px;
        }

        img {
            width: 100%;

            object-fit: cover;
        }
    }

    #what_do {
        h3 {
            font-size: 60px;
        }
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        .left_item {
            .text_item {
                width: 327px;
                height: 67px;
                background-color: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
    #what_do1 {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        .left_item {
            .text_item {
                width: 170px;
                height: 67px;
                background-color: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }

    #web {
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
        }

        .left_item {
            .text_item {
                width: 170px;
                height: 67px;
                background-color: black;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: 400;
            }
        }
    }
}

// #contact

.main {
    h1 {
        font-size: 60px;
        font-weight: 700;
    }
    h2 {
        font-size: 30px;
        font-weight: 700;
    }
    p {
        font-size: 20px;
        font-weight: 400;
    }
}

#social_icon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        padding: 0 50px;

        &:hover {
            cursor: pointer;
        }
    }

    @media screen and (max-width: 500px) {
        img {
            padding: 0 14px;
        }
    }
}

// #loader

#loader {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dispear {
    animation: reload 2s forwards;
}
@keyframes reload {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
